.tree-cell:filled.folder-default ImageView {
	-fx-image: url("che/folder.png");
}

.tree-cell:filled.folder-project ImageView {
	-fx-image: url("che/project.png");
}

.tree-cell:filled.folder-package ImageView {
	-fx-image: url("che/package.png");
}

.tree-cell:filled.folder-source ImageView {
	-fx-image: url("che/source-folder.png");
}

.tree-cell:filled.folder-test ImageView {
	-fx-image: url("che/test-folder.png");
}

.tree-cell:filled.file ImageView {
	-fx-image: url("che/file.png");
}

.tree-cell:filled.file.java ImageView {
	-fx-image: url("che/java-class.png");
}

.tree-cell:filled.hidden * {
	-fx-opacity: 0.5;
}

.tree-cell:selected {
	-fx-background: rgba(230,230,230,0.4);
}

