.tree-cell:filled.folder-default ImageView {
	-fx-image: url("che/folder.png");
}

.tree-cell:filled.folder-project ImageView {
	-fx-image: url("che/project.png");
}

.tree-cell:filled.folder-package ImageView {
	-fx-image: url("che/package.png");
}

.tree-cell:filled.folder-source ImageView {
	-fx-image: url("che/source-folder.png");
}

.tree-cell:filled.folder-test ImageView {
	-fx-image: url("che/test-folder.png");
}

.tree-cell:filled.file ImageView {
	-fx-image: url("che/file.png");
}

.tree-cell:filled.file.java ImageView {
	-fx-image: url("che/java-class.png");
}

.tree-cell:filled.hidden * {
	-fx-opacity: 0.5;
}

.tree-cell:selected {
	-fx-background: rgba(230,230,230,0.4);
}

.list-cell:selected {
	-fx-background: rgba(230,230,230,0.4);
}

.modal-dialog .dialog-content {
	-fx-padding: 15;
}

/*
 * TODO Move to extra css
 */
.proposal-content {
	-fx-padding: 0 0 0 10;
}

.proposal-content .package-name {
	-fx-text-fill: -content-assist-extra-1-color;
}

.list-cell:selected .proposal-content .package-name {
	-fx-text-fill: -content-assist-extra-1-color-hover;
}

ImageView.field-ref.visibility_private {
	-fx-image: url("che/vis_private.png");
}

ImageView.field-ref.visibility_default {
	-fx-image: url("che/vis_default.png");
}

ImageView.field-ref.visibility_protected {
	-fx-image: url("che/vis_protected.png");
}

ImageView.field-ref.visibility_public {
	-fx-image: url("che/vis_public.png");
}

ImageView.method-ref.visibility_private {
	-fx-image: url("che/vis_private-method.png");
}

ImageView.method-ref.visibility_default {
	-fx-image: url("che/vis_default-method.png");
}

ImageView.method-ref.visibility_protected {
	-fx-image: url("che/vis_protected-method.png");
}

ImageView.method-ref.visibility_public {
	-fx-image: url("che/vis_public-method.png");
}

ImageView.local-var-ref {
	-fx-image: url("che/local.png");
}

ImageView.class-type-ref {
	-fx-image: url("che/java-class.png");
}

ImageView.interface-type-ref {
	-fx-image: url("che/interface-type.png");
}

ImageView.annotation-type-ref {
	-fx-image: url("che/annotation-type.png");
}

ImageView.enum-type-ref {
	-fx-image: url("che/enum-type.png");
}
